{% extends "base.html" %}

{% block head %}
<meta property="og:type" content="website">
<meta property="og:title" content="Wall Breakers">
<meta property="og:description" content="Blow up paywalls with 💣">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:image" content="{{ url_for('static', filename='images/thumbnail.jpg') }}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="article-form">
        <input id="searchInput" name="url" placeholder="Link to the original article" type="url" inputmode="url" autocomplete="url" required autofocus>
        <p id="feedback" role="status" aria-live="polite"></p>
    </form>

    <section class="sources">
        <h1>Supported sources</h1>
        <ul>
            <li>Le Parisien</li>
            <li>Le Monde</li>
            <li>Washington Post</li>
            <li>Le Télégramme</li>
            <li>Les Echos</li>
            <li>L'Équipe</li>
            <li>The Athletic</li>
            <li>Le JDD</li>
            <li>Le Figaro</li>
            <li>Le Canard Enchainé</li>
            <li>Charlie Hebdo</li>
            <li>Libération</li>
            <li>Courrier international</li>
            <li>Actu.fr</li>
            <li>Charente Libre</li>
            <li>L'Express</li>
            <li>Paris Match</li>
            <li>Le Nouvel Obs</li>
            <li>Télérama</li>
            <li>Le JDC</li>
            <li>Financial Times</li>
            <li>Nikkei Asia</li>
            <li>South China Morning Post</li>
            <li><abbr title="JSL, DNA, Dauphiné Libéré, Républican Lorrain, L'Est Républicain, Bien Public, Le Progrès, L'Alsace, Vosges Matin">EBRA Médias</abbr></li>
            <li>Science et Vie</li>
            <li>Nature</li>
            {% if is_mediapart_enabled %}
            <li>Mediapart</li>
            {% else %}
            <li><s>Mediapart</s></li>
            {% endif %}
            {% if is_ouestfrance_enabled %}
            <li>Ouest-France</li>
            {% else %}
            <li><s>Ouest-France</s></li>
            {% endif %}
            <li><a href="https://github.com/MathiasDPX/wall-breakers/issues/new?template=media-request.md">Suggest a media</a></li>
            <!--<li><s>New York Times</s></li>-->
        </ul>
    </section>
</div>


<script>
const inputNode = document.getElementById("searchInput");
const feedbackNode = document.getElementById("feedback");



inputNode.addEventListener("keyup", function (event) {
    if (event.key === "Enter") {
        feedbackNode.className = "loading";
        feedbackNode.innerText = "Looking for the article…";
        
        const params = new URLSearchParams({
            'url': inputNode.value
        });

        fetch(`/api/getId?${params}`)
            .then(response => response.json())
            .then(data => {
                if (data.success === false) {
                    throw new Error(data.message || "This link is not supported.");
                } else {
                    feedbackNode.classList.add('success');
                    feedbackNode.innerText = `Redirecting to ${data.provider}...`;
                    window.location.assign(data.url)
                }
            })
            .catch(error => {
                feedbackNode.classList.add('error');
                feedbackNode.innerText = `${error}`;
            })
    }
});
</script>
{% endblock %}
